

/* Site Wide */

body {
  background-color: #FFF2BA;
}

/* Navbar */

.navbar-default {
    background-color: #E4C06A;
}

.navbar-default .navbar-nav > li > a {
    color: #555;
}

#logo {
  color: #555;
  letter-spacing: 0px;
  font-weight: bold;
}

.user-name {
  padding: 0 !important ;
  padding-left: 5px;
  padding-top: 10px !important;
  text-align: center;
    
    a {
      color: black !important;
      margin: 0 !important;
      padding: 5px!important;
    }
    
    a:hover, a:focus {
      color: #000 !important;
    }
}

.logout {
  padding-left: 0;
}

.nav.navbar-right {
  padding: 0px;
}

.nav.navbar-nav {

  .navbar-link {
    border-radius: 5px;
    color: #fff;
    margin-top: 15px;
    padding: 8px;
  }

  .navbar-link:focus, .navbar-link:hover {
    background: #3071a9;
    color: #fff;
  }
  
  li a {
    margin-right: 5px;
  }
}

.nav.navbar-right li {
  .btn {
    //color: #fff !important;
    margin-top: 5px;
  }
  
  .btn-sign-in {
    margin-top: 4px;
  }

  .btn-danger:hover, .btn-danger:focus {
    background-color: darken(#d9534f,20%) !important;
  }

  .btn-primary:hover, .btn-primary:focus {
    background-color: darken(#428bca,20%) !important;
  }
  
  a {
    padding: 10px;
  }
}

.btn-primary:visited, .btn-danger:visited {
  color: #fff;
}

/* Home Page */

.features {
  ul {
    margin-left: 0;
    margin-bottom: 4px;
    padding-left: 15px;
  }
  .extra {
    font-weight: bold;
  }
}

.jumbotron {
  text-align: center;
  background-image: asset-url('Portrait-of-happy-smiling-man-isolated-on-white-Stock-Photo-face.jpg');
  background-size: cover;
  color: #111;//darken(#E4C06A, 30%);
  font-family: 'Helvetica Neue' !important;
  font-stretch: expanded;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
  //text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
  //height: 370px;
  h2 {
    //margin-top: 90px;
    font-size: 35px;
    .lead {
      font-size: 40px !important;
    }
  }
}
.price {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
}

.no-left-padding {
  padding-left: 0 !important;
}

.listing {
  list-style: none;
  padding-left: 0;
}

/* Footer */

footer {
  color: #777;
  margin-top: 20px;
  border-top: 1px solid #777;
}

.footer-text {
  margin-top: 10px;
}

/* Pasted shit */


