

/* Site Wide */

body {
  background-color: #FFE2AA;
}


/* Navbar */

.navbar-default {
    background-color: #E4C06A;
}

.navbar-default .navbar-nav > li > a {
    color: #555;
}

#logo {
  color: #555;
  letter-spacing: 0px;
  font-weight: bold;
}

/* Footer */

footer {
  color: #777;
  margin-top: 20px;
  border-top: 1px solid #777;
}

.footer-text {
  margin-top: 10px;
}